<header class='header'>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
          <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="index.html/#about">About Me</a></li>
          <li class="nav-item"><a class="nav-link" href="index.html/#publications">Publications</a></li>
          <li class="nav-item"><a class="nav-link" href="index.html/#contact">Contact</a></li>
          <li class="nav-item"><a class="nav-link" href="index.html/#cv">View CV</a></li>
          <li class="nav-item"><a class="nav-link" href="index.html/#links">Interesting Links</a></li>
          <li class="nav-item active"><a class="nav-link" href="#">Media</a></li>
      </ul>
  </div>
</nav>
</header>
